@charset "UTF-8";
/*-------------------------------------------------------------------
    파일정의 :Variables
	작성날짜 :2024-01-08 지성만
	참고사항 :기본값을 정의해서 의미에 적용하고, 의미를 스타일에 활용하여 가이드화 한다.
    분류순서 :기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
    속성순서 :표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
body {min-width:1280px}

section {
    &#container {height:calc(100vh - 236px)}
    article {
        .sub_wrap {
            .inner {
                position:relative; min-height:520px;
                .sub_section {}
            }
        }

        &.login {
            .sub_wrap {
                padding-bottom:0;
                .inner {
                    background:url('../images/sub/login_bg.png') 50px -32px no-repeat; background-size:660px;
                    .sub_section {
                        .login_area {
                            display:flex; justify-content:space-between; align-items:center; gap:60px;
                            > h3 {
                                font-size:24px; text-shadow:1px 1px 2px rgba(0,0,0,.35);
                                span {color:#fd4727}
                            }
                            .login_wrap {
                                padding:60px 130px; background: #fff;
                                box-shadow: 0px 0px 10px 2px rgba(0,0,0,.15);
                                .login_inner {
                                    position:relative; width:500px; margin:auto;
                                    .login_form {
                                        position:relative; margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #eaeaea;
                                        dl {
                                            overflow:hidden;
                                            &:first-child {margin-bottom:10px}
                                            dt {float:left; font-size:14px; font-weight:bold; width:80px; line-height:36px}
                                            dd {float:left}
                                            dd input {width:300px; height:36px; border:0 none; background-color:#E8F0FE}
                                        }
                                        .id_check {display:inline-block; margin-top:10px; margin-left:80px; font-size:14px; color:#666}
                                        .id_check input {margin-right:10px}
                                        .login_btn {position:absolute; right:0; top:0; font-size:18px; width:108px; height:82px; color:#fff; display:inline-block; background:url('../images/sub/login_btn.gif'); border-radius:6px}
                                    }
                                    .login_util {
                                        overflow:hidden;
                                        ul {
                                            display:flex; justify-content:flex-end; gap:20px;
                                            li {
                                                a {font-size:14px; color:#666666}
                                                button {background-color:#D5ECF1; border-radius:16px; height:32px; padding:0 20px}
                                            }
                                        }
                                    }
                                    .login_notice {
                                        border:1px solid #e0e0e0; padding:30px 0; margin-bottom:60px; background:url('../images/sub/ico_login_notice.png') no-repeat 357px 40px;
                                        .login_notice ul {
                                            margin-left:390px;
                                            li {
                                                position:relative; padding-left:15px; font-size:14px; color:#666;
                                                &:first-child {margin-bottom:10px}
                                                &:after {position:absolute; left:7px; top:8px; display:block; content:''; width:3px; height:2px; background:#666; border-radius:50%}
                                                span {color:#eb6100}
                                            }
                                        }
                                    }
                                }
                            }
                        } 

                        .cs_wrap {
                            margin:40px 0; min-height:150px; display:flex; justify-content:space-between;
                            .cs_btn {
                                display:flex; flex-direction:column; gap:10px; width:440px; background:url('../images/sub/man_bg.png') right -20px no-repeat; background-size:180px;
                                button {max-width:270px; line-height:normal; min-height:45px; padding:0; border-radius:22px; background-color:#999; color:#fff}
                            }
                            .cs_banner {
                                display:flex; width:500px; justify-content:space-between;
                                .cs_info {
                                    display:flex; flex-direction:column; gap:5px;
                                    h4 {font-size:22px; letter-spacing:-.5px}
                                    h5 {font-size:32px; color:#ff0000}
                                    p {color:#7f7f7f}
                                }
                            }
                        }               
                    }
                }
            }
        }
    }
}

.footer {
    .footer__contents {
        .container {
            padding-left:0; display:flex; align-items:center; gap:50px;
            &.footer_logo_addr {
                h2 {position:relative; left:auto; top:auto; width:230px}
                address {
                    display:flex; justify-content:space-between; width:100%; align-items:center;
                    .footer__copy {padding-top:0}
                }
            }
        }
    }
}
