@charset "UTF-8";
/*-------------------------------------------------------------------
    파일정의 :Variables
	작성날짜 :2024-01-08 지성만
	참고사항 :기본값을 정의해서 의미에 적용하고, 의미를 스타일에 활용하여 가이드화 한다.
    분류순서 :기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
    속성순서 :표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
body {
  min-width: 1340px;
}

.gnb .node1-wrap {
  display: flex;
}
.gnb .node1-wrap > li.on > a {
  position: relative;
  color: #0071C1;
}
.gnb .node1-wrap > li.on > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 46%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0071C1;
  z-index: 1000;
}
.gnb .node1-wrap > li > a {
  display: block;
  padding: 5px 30px;
  line-height: 80px;
  font-weight: 500;
  font-size: 16px;
  color: #101010;
}
.gnb .node1-wrap > li > .node2-wrap {
  display: none;
  position: absolute;
  top: 121px;
  left: 0;
  width: 100%;
  padding-top: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}
.gnb .node1-wrap > li > .node2-wrap > div {
  display: flex;
  gap: 10px;
}
.gnb .node1-wrap > li > .node2-wrap > div .sub-nav-title {
  width: 340px;
  height: 204px;
  text-align: center;
  background-color: #eaeaea;
  border-bottom-right-radius: 60px;
}
.gnb .node1-wrap > li > .node2-wrap > div .sub-nav-title h2 {
  line-height: 30px;
  margin: 26px 0 6px 0;
  font-size: 28px;
}
.gnb .node1-wrap > li > .node2-wrap > div .sub-nav-title p {
  line-height: 18px;
  font-size: 16px;
  font-family: "NSL";
}
.gnb .node1-wrap > li > .node2-wrap > div .sub-nav-title em {
  display: block;
  margin-top: 10px;
  line-height: 18px;
  font-size: 80px;
}
.gnb .node1-wrap > li > .node2-wrap > div .sub-nav-wrap {
  width: 100%;
  height: 204px;
  padding: 24px 0;
}
.gnb .node1-wrap > li > .node2-wrap > div .sub-nav-wrap h3 {
  margin-bottom: 10px;
  text-align: center;
  padding: 8px 0;
  background-color: #ccc;
  color: #fff;
}

.popup-wrap[data-popup=banner] {
  position: relative;
  display: none;
}
.popup-wrap[data-popup=banner].is-active {
  display: block;
}
.popup-wrap[data-popup=banner] .popup {
  margin: 0 auto;
}

header .header__top .unb_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #0071C1;
}
header .header__top .unb_wrap .unb_body {
  display: flex;
  justify-content: space-between;
  width: 1340px;
}
header .header__top .unb_wrap .unb_body a {
  font-family: "NSR";
  color: #fff;
}
header .header__top .unb_wrap .unb_body .tnb {
  display: flex;
}
header .header__top .unb_wrap .unb_body .tnb a {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 2px 20px 0;
  background-color: #fff;
}
header .header__top .unb_wrap .unb_body .tnb a:nth-child(1) {
  color: #999;
}
header .header__top .unb_wrap .unb_body .tnb a:nth-child(2) {
  background-color: #7FA8DC;
}
header .header__top .unb_wrap .unb_body .tnb a:nth-child(3) {
  background-color: #6ABFB8;
}
header .header__top .unb_wrap .unb_body .tnb a:nth-child(4) {
  background-color: #999;
}
header .header__top .unb_wrap .unb_body .unb {
  display: flex;
  gap: 30px;
}
header .header__top .unb_wrap .unb_body .unb a {
  display: flex;
  align-items: center;
  height: 40px;
}
header .header__top .gnb_wrap {
  border-bottom: 0 none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
header .header__top .gnb_wrap .logo {
  width: 220px;
  height: 50px;
  padding-top: 0;
}

section article .visual_wrap {
  height: 373px;
  background-color: #66C1BC;
}
section article .sub_wrap .inner {
  position: relative;
  min-height: 520px;
}
section article.login .sub_wrap {
  padding-bottom: 0;
}
section article.login .sub_wrap .inner {
  background: url("../images/sub/login_bg.png") 50px -32px no-repeat;
  background-size: 660px;
}
section article.login .sub_wrap .inner .sub_section .login_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
section article.login .sub_wrap .inner .sub_section .login_area > h3 {
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
section article.login .sub_wrap .inner .sub_section .login_area > h3 span {
  color: #fd4727;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap {
  padding: 60px 130px;
  background: #fff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner {
  position: relative;
  width: 500px;
  margin: auto;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_form {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_form dl {
  overflow: hidden;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_form dl:first-child {
  margin-bottom: 10px;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_form dl dt {
  float: left;
  font-size: 14px;
  font-weight: bold;
  width: 80px;
  line-height: 36px;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_form dl dd {
  float: left;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_form dl dd input {
  width: 300px;
  height: 36px;
  border: 0 none;
  background-color: #E8F0FE;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_form .id_check {
  display: inline-block;
  margin-top: 10px;
  margin-left: 80px;
  font-size: 14px;
  color: #666;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_form .id_check input {
  margin-right: 10px;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_form .login_btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  width: 108px;
  height: 82px;
  color: #fff;
  display: inline-block;
  background: url("../images/sub/login_btn.gif");
  border-radius: 6px;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_util {
  overflow: hidden;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_util ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_util ul li a {
  font-size: 14px;
  color: #666666;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_util ul li button {
  background-color: #D5ECF1;
  border-radius: 16px;
  height: 32px;
  padding: 0 20px;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_notice {
  border: 1px solid #e0e0e0;
  padding: 30px 0;
  margin-bottom: 60px;
  background: url("../images/sub/ico_login_notice.png") no-repeat 357px 40px;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_notice .login_notice ul {
  margin-left: 390px;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_notice .login_notice ul li {
  position: relative;
  padding-left: 15px;
  font-size: 14px;
  color: #666;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_notice .login_notice ul li:first-child {
  margin-bottom: 10px;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_notice .login_notice ul li:after {
  position: absolute;
  left: 7px;
  top: 8px;
  display: block;
  content: "";
  width: 3px;
  height: 2px;
  background: #666;
  border-radius: 50%;
}
section article.login .sub_wrap .inner .sub_section .login_area .login_wrap .login_inner .login_notice .login_notice ul li span {
  color: #eb6100;
}
section article.login .sub_wrap .inner .sub_section .cs_wrap {
  margin: 40px 0;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
}
section article.login .sub_wrap .inner .sub_section .cs_wrap .cs_btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 440px;
  background: url("../images/sub/man_bg.png") right -20px no-repeat;
  background-size: 180px;
}
section article.login .sub_wrap .inner .sub_section .cs_wrap .cs_btn button {
  max-width: 270px;
  line-height: normal;
  min-height: 45px;
  padding: 0;
  border-radius: 22px;
  background-color: #999;
  color: #fff;
}
section article.login .sub_wrap .inner .sub_section .cs_wrap .cs_banner {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
section article.login .sub_wrap .inner .sub_section .cs_wrap .cs_banner .cs_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section article.login .sub_wrap .inner .sub_section .cs_wrap .cs_banner .cs_info h4 {
  font-size: 22px;
  letter-spacing: -0.5px;
}
section article.login .sub_wrap .inner .sub_section .cs_wrap .cs_banner .cs_info h5 {
  font-size: 32px;
  color: #ff0000;
}
section article.login .sub_wrap .inner .sub_section .cs_wrap .cs_banner .cs_info p {
  color: #7f7f7f;
}

.footer .footer__contents .container {
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer .footer__contents .container.footer_logo_addr h2 {
  position: relative;
  left: auto;
  top: auto;
  width: 230px;
}
.footer .footer__contents .container.footer_logo_addr address {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.footer .footer__contents .container.footer_logo_addr address .footer__copy {
  padding-top: 0;
}

.layer_popup {
  display: flex;
  justify-content: center;
  background-color: #D8F0FC;
}
.layer_popup > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1340px;
}
.layer_popup > div .cs_banner {
  display: flex;
  align-items: center;
  gap: 20px;
}
.layer_popup > div .cs_banner p {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 10px;
  color: #000;
  font: normal 16px "NSR";
  letter-spacing: -0.32px;
}
.layer_popup > div .cs_banner p span {
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #D5611C;
}
.layer_popup > div > ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.layer_popup > div > ul li {
  display: flex;
  align-items: center;
  position: relative;
  width: 178px;
  height: 52px;
  padding: 2px 0 0 15px;
  border-radius: 6px;
  background: #FFF;
}
.layer_popup > div > ul li span {
  font: 100 13px/18px "NSR";
  letter-spacing: -0.26px;
}
.layer_popup > div > ul li::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 18px;
  width: 16px;
  height: 16px;
  background: url("../images/banner/circle-chevron-right-solid1.svg") no-repeat;
}
.layer_popup > div .chk_closed {
  padding-top: 20px;
}
.layer_popup > div .chk_closed .form-check label span {
  font-size: 12px;
  color: #0071C1;
}/*# sourceMappingURL=style.css.map */