@charset "UTF-8";
/*-------------------------------------------------------------------
    파일정의 :Variables
	작성날짜 :2024-01-08 지성만
	참고사항 :기본값을 정의해서 의미에 적용하고, 의미를 스타일에 활용하여 가이드화 한다.
    분류순서 :기본정책 > 유틸리티 > 사용자정의(컬러, 폰트, 보더, 간격 등)
    속성순서 :표시 > 위치 > 넘침/흐름 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
-------------------------------------------------------------------*/
section.login .sub_wrap .inner {
  min-height: 520px;
  position: relative;
}

.login_wrap {
  position: absolute;
  top: 0;
  right: 0;
  padding: 40px 80px;
  background: #f8f8f8;
  border: 1px solid #e0e0e0;
}
.login_wrap .login_inner {
  position: relative;
  width: 500px;
  margin: auto;
}
.login_wrap .login_inner .login_form {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}
.login_wrap .login_inner .login_form dl {
  overflow: hidden;
}
.login_wrap .login_inner .login_form dl:first-child {
  margin-bottom: 10px;
}
.login_wrap .login_inner .login_form dl dt {
  float: left;
  font-size: 14px;
  font-weight: bold;
  width: 80px;
  line-height: 36px;
}
.login_wrap .login_inner .login_form dl dd {
  float: left;
}
.login_wrap .login_inner .login_form dl dd input {
  width: 300px;
  border: 1px solid #e0e0e0;
  height: 36px;
  font-size: 14px;
  padding: 10px;
}
.login_wrap .login_inner .login_form dl dd input::-moz-placeholder {
  color: #d3d3d3;
}
.login_wrap .login_inner .login_form dl dd input::placeholder {
  color: #d3d3d3;
}
.login_wrap .login_inner .login_form .id_check {
  display: inline-block;
  margin-top: 10px;
  margin-left: 80px;
  font-size: 14px;
  color: #666;
}
.login_wrap .login_inner .login_form .id_check input {
  margin-right: 10px;
}
.login_wrap .login_inner .login_form .login_btn {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  width: 108px;
  height: 82px;
  color: #fff;
  display: inline-block;
  background: url("../images/sub/login_btn.gif");
  border-radius: 6px;
}
.login_wrap .login_inner .login_util {
  overflow: hidden;
}
.login_wrap .login_inner .login_util ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.login_wrap .login_inner .login_util ul li a {
  font-size: 14px;
  color: #666666;
}
.login_wrap .login_inner .login_util ul li button {
  background-color: #ccc;
  border-radius: 16px;
  height: 32px;
  padding: 0 20px;
}
.login_wrap .login_inner .login_notice {
  border: 1px solid #e0e0e0;
  padding: 30px 0;
  margin-bottom: 60px;
  background: url("../images/sub/ico_login_notice.png") no-repeat 357px 40px;
}
.login_wrap .login_inner .login_notice .login_notice ul {
  margin-left: 390px;
}
.login_wrap .login_inner .login_notice .login_notice ul li {
  position: relative;
  padding-left: 15px;
  font-size: 14px;
  color: #666;
}
.login_wrap .login_inner .login_notice .login_notice ul li:first-child {
  margin-bottom: 10px;
}
.login_wrap .login_inner .login_notice .login_notice ul li:after {
  position: absolute;
  left: 7px;
  top: 8px;
  display: block;
  content: "";
  width: 3px;
  height: 2px;
  background: #666;
  border-radius: 50%;
}
.login_wrap .login_inner .login_notice .login_notice ul li span {
  color: #eb6100;
}/*# sourceMappingURL=style.css.map */